.detail-box {
}

#map {
  width: 350px;
  height: 350px;
  display: inline-block;
  margin-left: 100px;
}

.show-map {
  width: 300px;
  height: 300px;
}

.info-box {
  display: inline-block;

  > * {
    display: inline-block;
    margin-bottom: 20px;
  }

  > span {
    margin-left: 10px;
  }
}

.content {
  display: inline-block;
  color: #a0d1f7;
  font-size: small;
}
